@import '../utils/variables.scss';

.grey-view{
  filter: contrast(100%) grayscale(100%);
}

.header{
  background: $bg-color;
  width: 100%;
  position: relative;
  z-index: 100;

  &-wrap{
    max-width: 1360px;
    margin: 0 auto;
    padding: 12px 16px;

    @include media-to('l'){
      padding: clamp(20px, 1.111px + 2.778vw, 40px) clamp(12px, 4.444px + 1.111vw, 20px) 0 clamp(12px, 4.444px + 1.111vw, 20px);
    }
  }

  //&__btn-eye{
  //  cursor: pointer;
  //}

  &-link{
    color:$wht-color;
    font-size: clamp(16px, 14.211px + 0.263vw, 18px);
    transition: $transition;
    font-weight: 400;
    position: relative;
    &:hover{
      color: $wht-green-color;
    }
  }

  &-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    @include media-to('l', 'max') {
      display: none;
    }
    &__logo-wrapper{
      display: flex;
      align-items: center;
    }
    &__logo {



      @include media-to('l') {
        width: 60px;
        &:hover{
          animation: logoScale .5s ease;
          @keyframes logoScale {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
          }
        }
      }

      @include media-to('l+') {
        width: 90px;
      }

      &--mob{
        @include max-wdt(100%, 50px);

        @include media-to('l') {
          display: none;
        }
      }

      &-img{
        @include img-fit;
      }

    }

    &__state-site{
      margin-left: 30px;
      @include media-to('l+', 'max') {
        display: none;
      }
      &:before{
        content: " ";
        width: 10px;
        height: 37px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        background: linear-gradient(180deg, rgba(115,177,255,1) 0%, rgba(255,204,51,1) 100%);
      }

    }
    &__title-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    &__sing{

    }
    &__title{
      color: $wht-color;
      font-size: clamp(24px, 13.263px + 1.579vw, 36px);
      text-align: center;
      font-weight: 500;
      line-height: 120%;

      &--mob{
        color: $wht-color;
        font-size: clamp(16px, 4.462px + 2.404vw, 26px);
        text-align: left;
        font-weight: 500;
        line-height: 120%;
        @include media-to('l'){
          display: none;
        }
      }
    }
    &__ui-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
      gap: 15px;

    }
    &__grey{

      &-view{
        display: flex;
        gap: clamp(8px, 4.222px + 0.556vw, 12px);
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 20px;
        .header__btn-eye{
          white-space: nowrap;
        }
      }
      &-svg{
        height: auto;
      }
    }
    &__social{

      &-list{
        display: flex;
        align-items: center;
        gap: clamp(8px, 4.222px + 0.556vw, 12px);
      }

      &-item{
        width: 30px;
        flex: 0 0 auto;
        @include media-to('l+'){
          width: 24px;
        }

        .header-social{
          width: 100%;
        }
      }
    }
  }

  &-social path{
    fill: $wht-color;
    transition: $transition;
  }

  &-social{
    transition: $transition;
    &:hover{
      scale: 1.2;
    }
  }

  &-down{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    @include media-to('s+'){
      gap: 30px;

    }

    @include media-to('l'){
      align-items: flex-end;
      justify-content: space-between;
    }
    .nav{
      &__menu {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        display: none;
        flex-direction: column;
        transition: $transition;
        @include media-to('s+', max){

        }

        @include media-to('l', max){
          &.is-open{
            @include max-wdt(320px, 100%);
            opacity: 1;
            background: $wht-green-color;
            z-index: 1000;
            display: block;
            top: calc(100% + 12px);
            padding: clamp(25px, 11.596px + 3.191vw, 40px);
          }
        }

        @include media-to('l') {
          opacity: 1;
          display: flex;
          position: static;
          background: inherit;
          flex-direction: row;
        }
        @include media-to('l+') {
          gap: 6px;
        }
      }
      &__link-svg{
        transition: $transition;
        @include media-to('l', max){
          width: 20px;
          height: 20px;
        }
      }
      &__link{

        @include media-to('l', max){
          color: $drk-green-color !important;
          font-size: clamp(14px, 9.385px + 0.962vw, 18px) !important;
          font-weight: 500 !important;
        }
      }
      &__item {
        position: relative;
        transition: $transition;
        display: flex;
        align-items: center;

        @include media-to('l', max){
          padding: 20px 0;
          border-bottom: 1px solid $wht-color;
          transition: $transition;
          justify-content: space-between;
          &:hover{
            border-bottom-color: $drk-green-color;
          }
        }
        @include media-to('l'){
          padding: 8px 6px;
          border-radius: 3px 3px 0 0;
          gap: 6px;
        }

        &.open,
        &:hover {
          background-color: $wht-green-color;

          a, span {
            color: $drk-green-color;
          }
          .nav__link-svg > path {
            fill: $drk-green-color;
          }
        }
        &.open .nav__link-svg {
          transform: rotate(180deg);
        }
        a, span {
          color: $wht-color;
          font-size: clamp(16px, 12.421px + 0.526vw, 20px);
          font-weight: 500;
          transition: $transition;
          cursor: pointer;
        }
        &--has-submenu {
          cursor: pointer;
        }
      }
      &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $lgt-green-color;
        padding: clamp(8px, 4.222px + 0.556vw, 12px) 0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: $transition;
        z-index: 10;
        min-width: 200px;
        border-radius: 0 0 3px 3px;
        border: 1.5px solid $wht-green-color;
        box-shadow: 9px 9px 23px -12px $opc-lgt-green-color;
        @include media-to('m', max){
          width: 100%;
        }

        &__link{
          display: block;
          padding: clamp(6px, 1.385px + 0.962vw, 10px);
          font-size: clamp(14px, 7.077px + 1.442vw, 20px)!important;
          font-weight: 400 !important;
          color: $wht-color  !important;
          transition: $transition;
          @include media-to('m'){
            white-space: nowrap;
          }

          &:hover {
            background: $wht-green-color;
            color: $drk-green-color !important;
          }
        }
      }
      &__item.open .nav__submenu {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .lang{

    &_wrap{
      position: relative;

      @include media-to('l', max){
        display: none;

      }
      @include media-to('l+', max){
        width: 30px;
        height: 30px;
        top: -8px;
      }


    }

    &_icon{
      cursor: pointer;
      transition: $transition;
      display: block;
      width: 25px;
      height: 24px;

      @include media-to('m') {
        &:hover{
          transform: scale(1.1);
        }
      }
      @include media-to('m+'){
        width: 30px;
        height: 30px;
      }

      @include media-to('l+') {
        display: none;
      }
    }

    &-list{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      flex-direction: column;
      opacity: 0;
      max-height: 0;
      background: $wht-green-color;
      transition: $transition;
      @include media-to('l+') {
        position: static;
        transform: translateY(0);
        opacity: 1;
        display: flex;
        max-height: initial;
        flex-direction: row;
        background: inherit;
      }

      &.open{
        max-height: 100px;
        opacity: 1;
      }
    }

    &-item {
      cursor: pointer;
      user-select: none;
      padding: 6px 4px;
      transition: all 0.3s ease;
      border-radius: 3px;
      border: 1px solid transparent;

      @include media-to('m'){
        &:hover {
          border: 1px solid $drk-green-color;
          color: $lgt-green-color;
        }
      }

      @include media-to('l+') {
        border-radius: 3px 3px 0 0;
        padding: 9px 7px;
        &:hover {
          border: 1px solid $wht-color;
          color: $wht-color;
          transform: translateY(-1px);
        }
      }

      &.active {
        color: $drk-green-color;
        background-color: $wht-green-color;
        &:hover {
          border: 1px solid transparent;
          transform: translateY(0);
        }
      }
    }
  }

  .mobile-lang{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @include media-to('l'){
      display: none;
    }

    .lang-item{
      font-size: clamp(14px, 9.385px + 0.962vw, 16px);
      background: $opc-wht-color;
      color: $lgt-green-color;

      &.active{
        background: $drk-green-color;
        color: $wht-green-color;
      }
    }
  }
}

/* === style mobile menu === */

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 25px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  margin-left: auto;


  @include media-to('l'){
    display: none;
  }

  &__line {
    width: 100%;
    height: 3px;
    background: $wht-color;
    border-radius: 3px;
    transition: $transition;
    position: relative;
    transform-origin: 1px;
  }

  &.is-active .burger__line:nth-child(1) {
    transform: rotate(45deg);
  }
  &.is-active .burger__line:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  &.is-active .burger__line:nth-child(3) {
    transform: rotate(-45deg);
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.body-no-scroll {
  overflow: hidden;
}


