//@use '../base/reset' as *;
//@use '../utils/variables' as *;
//
//.grey-view{
//  filter: contrast(100%) grayscale(100%);
//}
//
//.header{
//  background: $bg-color;
//  width: 100%;
//
//
//  &-wrap{
//    max-width: 1320px;
//    padding: 40px 20px 0 20px;
//    margin: 0 auto;
//  }
//
//  //&.scrolled {
//  //  position: fixed;
//  //  padding: 10px 30px;
//  //  background-color: #f8f8f8;
//  //  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//  //
//  //}
//
//  &__btn-eye{
//    cursor: pointer;
//  }
//  &-link{
//    color:$opc-wht-color;
//    font-size: clamp(0.875rem, 0.7614rem + 0.404vw, 1.125rem);
//    transition: all .3s ease;
//    font-weight: 600;
//    position: relative;
//    &:hover{
//      color: $wht-color;
//    }
//
//  }
//
//  &-up{
//    display: flex;
//    justify-content: space-between;
//    margin-bottom: 48px;
//    &__logo-wrapper{
//      display: flex;
//      align-items: center;
//    }
//    &__logo {
//      display: inline-block;
//
//      &:hover{
//        animation: logoScale .8s ease;
//        @keyframes logoScale {
//          0% {
//            transform: scale(1);
//          }
//          50% {
//            transform: scale(1.03);
//          }
//          100% {
//            transform: scale(1);
//          }
//        }
//      }
//
//    }
//
//
//    &__state-site{
//      margin-left: 30px;
//
//      &:before{
//        content: " ";
//        width: 10px;
//        height: 37px;
//        position: absolute;
//        top: -3px;
//        left: -20px;
//        background: rgb(115,177,255);
//        background: linear-gradient(180deg, rgba(115,177,255,1) 0%, rgba(255,204,51,1) 100%);
//      }
//    }
//    &__titel-wrapper{
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//      gap: 9px;
//    }
//    &__title-container{
//      color: $wht-color;
//      font-size: clamp(1.125rem, 0.6136rem + 1.8182vw, 2.25rem);
//      text-align: center;
//      font-weight: 600;
//      line-height: 36px;
//    }
//    &__ui-wrapper{
//      display: flex;
//      flex-direction: column;
//      justify-content: space-between;
//      align-items: end;
//    }
//    &__grey-view{
//      display: flex;
//      gap: 12px;
//      align-items: center;
//      flex-direction: row-reverse;
//    }
//    &__social-list{
//      display: flex;
//      align-items: center;
//      gap: 18px;
//    }
//
//  }
//  &-social path{
//    fill: $wht-color;
//    transition: all .3s ease;
//    &:hover{
//      text-decoration: underline;
//    }
//  }
//  &-social{
//    transition: all .3s ease;
//    &:hover{
//      scale: 1.2;
//    }
//  }
//
//  &-down{
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    .nav{
//
//      &__menu {
//        display: flex;
//      }
//      &__link{
//
//        &-svg{
//          transition: all .3s ease;
//        }
//      }
//      &__item {
//        position: relative;
//        padding: 10px 10px 10px 10px;
//        transition: all .3s ease;
//        display: flex;
//        align-items: center;
//        gap: 8px;
//        &:hover a,
//        &:hover span{
//          color: $drk-green-color;
//        }
//        a,span{
//          color: $wht-color;
//          font-size: clamp(1rem, 0.8864rem + 0.404vw, 1.25rem);
//          font-weight: 600;
//          transition: all .3s ease;
//          cursor: pointer;
//        }
//        &:hover{
//          background-color: $wht-green-color;
//          color: $drk-green-color;
//        }
//        &:hover .nav__link-svg > path{
//          fill: $drk-green-color;
//        }
//        &:hover .nav__link-svg{
//          -ms-transform: rotate(180deg);
//          transform: rotate(180deg);
//        }
//
//
//
//        &--has-submenu {
//          cursor: pointer;
//          &:hover .nav__submenu {
//            max-height: 500px;
//            opacity: 1;
//            visibility: visible;
//            pointer-events: auto;
//          }
//        }
//      }
//      &__submenu {
//        position: absolute;
//        top: 100%;
//        left: 0;
//        background-color: $lgt-green-color;
//        padding: 20px 0;
//        overflow: hidden;
//        max-height: 0;
//        opacity: 0;
//        visibility: hidden;
//        pointer-events: none;
//        transition: all 0.4s ease;
//        z-index: 10;
//        min-width: 200px;
//        border: 1px solid $opc-lgt-green-color;
//        &__link{
//          display: block;
//          padding: 10px 30px;
//          font-size: clamp(1rem, 0.9432rem + 0.202vw, 1.125rem)!important;
//          font-weight: 400 !important;
//          white-space: nowrap;
//          color: $wht-color  !important;
//          transition: background 0.3s ease, color 0.3s ease;
//          &:hover {
//            background: $wht-green-color;
//            color: $drk-green-color !important;
//          }
//        }
//
//      }
//
//    }
//
//  }
//
//
//  .lang-list{
//    display: flex;
//  }
//  .lang-item {
//    cursor: pointer;
//    user-select: none;
//    padding: 10px;
//    transition: 0.3s;
//
//    &:hover {
//      color: $wht-color;
//    }
//  }
//  .lang-item.active {
//    color: $drk-green-color;
//    background-color: $wht-green-color;
//  }
//
//
//
//
//}

// Використовуємо @use для підключення файлів.
// Це сучасний підхід у Sass, який кращий за @import.
@use '../utils/variables' as *;

.grey-view{
  filter: contrast(100%) grayscale(100%);
}

.header{
  background: $bg-color;
  width: 100%;

  &-wrap{
    max-width: 1320px;
    padding: 40px 20px 0 20px;
    margin: 0 auto;
  }

  &__btn-eye{
    cursor: pointer;
  }
  &-link{
    color:$opc-wht-color;
    font-size: clamp(0.875rem, 0.7614rem + 0.404vw, 1.125rem);
    transition: all .3s ease;
    font-weight: 600;
    position: relative;
    &:hover{
      color: $wht-color;
    }
  }

  &-up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    &__logo-wrapper{
      display: flex;
      align-items: center;
    }
    &__logo {
      display: inline-block;

      &:hover{
        animation: logoScale .8s ease;
        @keyframes logoScale {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.03);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }

    &__state-site{
      margin-left: 30px;

      &:before{
        content: " ";
        width: 10px;
        height: 37px;
        position: absolute;
        top: -3px;
        left: -20px;
        background: rgb(115,177,255);
        background: linear-gradient(180deg, rgba(115,177,255,1) 0%, rgba(255,204,51,1) 100%);
      }
    }
    &__titel-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 9px;
    }
    &__title-container{
      color: $wht-color;
      font-size: clamp(1.125rem, 0.6136rem + 1.8182vw, 2.25rem);
      text-align: center;
      font-weight: 600;
      line-height: 36px;
    }
    &__ui-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
    }
    &__grey-view{
      display: flex;
      gap: 12px;
      align-items: center;
      flex-direction: row-reverse;
    }
    &__social-list{
      display: flex;
      align-items: center;
      gap: 18px;
    }
  }

  &-social path{
    fill: $wht-color;
    transition: all .3s ease;
    &:hover{
      text-decoration: underline;
    }
  }

  &-social{
    transition: all .3s ease;
    &:hover{
      scale: 1.2;
    }
  }

  &-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav{
      &__menu {
        display: flex;
      }
      &__link-svg{
        transition: all .3s ease;
      }
      &__item {
        position: relative;
        padding: 10px;
        transition: all .3s ease;
        display: flex;
        align-items: center;
        gap: 8px;

        // Стилі для активного стану (коли меню відкрите) та при наведенні
        &.open,
        &:hover {
          background-color: $wht-green-color;

          a, span {
            color: $drk-green-color;
          }
          .nav__link-svg > path {
            fill: $drk-green-color;
          }
        }

        &.open .nav__link-svg {
          transform: rotate(180deg);
        }

        a, span {
          color: $wht-color;
          font-size: clamp(1rem, 0.8864rem + 0.404vw, 1.25rem);
          font-weight: 600;
          transition: all .3s ease;
          cursor: pointer;
        }

        &--has-submenu {
          cursor: pointer;
        }
      }
      &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $lgt-green-color;
        padding: 20px 0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        z-index: 10;
        min-width: 200px;
        border: 1px solid $opc-lgt-green-color;

        &__link{
          display: block;
          padding: 10px 30px;
          font-size: clamp(1rem, 0.9432rem + 0.202vw, 1.125rem)!important;
          font-weight: 400 !important;
          white-space: nowrap;
          color: $wht-color  !important;
          transition: background 0.3s ease, color 0.3s ease;
          &:hover {
            background: $wht-green-color;
            color: $drk-green-color !important;
          }
        }
      }

      // Клас .open, який додає JS, буде показувати меню
      &__item.open .nav__submenu {
        max-height: 500px; // Достатня висота для вмісту
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  .lang-list{
    display: flex;
  }
  .lang-item {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    transition: 0.3s;

    &:hover {
      color: $wht-color;
    }
  }
  .lang-item.active {
    color: $drk-green-color;
    background-color: $wht-green-color;
  }
}

