@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-UkraineHead';
  src: url('../../fonts/e-UkraineHead-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-UkraineHead';
  src: url('../../fonts/e-UkraineHead-LOGO.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}