@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src: url('../../fonts/e-Ukraine/e-Ukraine-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// === ДОДАНО: Шрифт для заголовків та логотипів ===

@font-face {
  font-family: 'e-UkraineHead';
  src: url('../../fonts/e-Ukraine/e-UkraineHead-Regular.woff2') format('woff2');
  font-weight: 400; // Regular
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-UkraineHead';
  src: url('../../fonts/e-Ukraine/e-UkraineHead-LOGO.woff2') format('woff2');
  font-weight: 700; // Призначаємо насиченість "Bold" для логотипу
  font-style: normal;
  font-display: swap;
}