/*contacts*/
.container--contacts{
  padding-bottom: 80px;
}
.p-contact{
  margin-bottom: 20px;
}
.p-contact>span{
  font-weight: 700;
  margin-right: 20px;
}
.p-contact>a{
  color: var(--blue-color);
}
/* contacts end*/