@import '../utils/variables.scss';


.mobile-menu,
#nav-check,
.sale-block__image--mobile,
.precision-banner__content__img--mobile,
.fast-call__img--mobile,
.fast-call__img--last-mobile,
.sale-block__image-mobile,
.gp_header__text--mobile,
.gp_header__img--mobile{
  display: none;
}



.offers{
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
}
#offers-wrapper{
  padding-top: 2px;
}
.offer-box{
  width: calc(100% / 4 - 15px);
  margin-bottom: 40px;
}
.offer-link{
  display: flex;
  align-items: center;
  padding: 20px 7px;
  background-color: #C8DCD4FF;
  fill: #084C31;
  transition: all .3s ease-in;

}
.offer-img{
  width: 80px;
  min-width: 30%;
  height: 80px;
  border-right: 2px solid rgba(8, 76, 49, 0.6);
  padding-right: 5px;
  margin-right: 10px;
}
.offer-link:hover{
  opacity: 1;
  box-shadow: 1px 2px 10px 3px rgba(200, 220, 212);
  scale: 1.03;
}
.offer-text{
  color: rgba(8, 76, 49);
}


/* sale block */
.sale-block-wrapper{
  margin: 10px 0 80px;
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}
.link-btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: #0C5237;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.link-btn::before {
  background-color: #D8E8A5;
  transition: 0.3s ease-out;
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
}
.link-btn::after{
  background-color: #0C5237;
  transition: 0.3s ease-out;
  top:0; bottom: 0; left: 0;
  height: 100%; width: 5px;
}
.link-btn:hover::before {
  width: 0;
}
.link-btn__text{
  position: relative;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  top: 0; left: 0;
  width: 100%;
  padding: 16px 25px;
  transition: 0.3s;
  color: #0C5237;
  letter-spacing: normal;
}
.link-btn__text:hover {
  color: #fff;
  transition: 0.2s 0.1s;
}
.sale-block {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.sale-block__image-wrapper {
  position: relative;
}

.sale-block__image {
  width: 100%;
  height: auto;
  /*display: block;*/
}
.sale-block__content {
  padding-left: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: $drk-green-color;

}
.sale-block__title,
.sale-block__title > .sale_block__text-wrap{
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 35px;
}
.precision-banner__text{
  color: white;
  max-width: 500px;
  font-size: 36px;

}
.sale-block__description,
.sale-block__description > .sale_block__text-wrap{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;

}
.sale_block__text-wrap{
  display: block;
}

/* sale block end */


.news-box{
  position: relative;
  width: 60%;
  margin-right: 30px;
}
.all-news{
  position: absolute;
  right: 2px;
  top: 74px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-news:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.news-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.npa-wrapper{
  width: 35%;
  position: relative;
}
.all-npa{
  position: absolute;
  top: 74px;
  right: 1px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-npa:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.npa{
  /*background-color: white;*/
}
.npa-link{
  margin-bottom: 10px;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: #093F2A;
  padding: 10px 15px;
  transition: all .3s ease-in;
  background-color: #C8DCD4;
}
.npa-link:hover{
  background-color: white;
}
.npa-link-title{
  font-size: 20px;
  font-weight: 700;
}
.npa-link-text{
  font-size: 16px;
  font-weight: 500;
  color: #007aff;
}


/*map*/
.map-wrapper{
  text-align: center;
}
.map-title{
  font-size: 36px;
  font-weight: 700;
  margin: 50px auto;
  color: #000000;
}
.map_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.map_table{
  max-width: 100%;
}
.table_header{
  font-weight: 900;
}
table, th, td {
  border-collapse: collapse;
  /*border: 1px solid black;*/
  border-spacing: 1px 2px;
  padding: 2px 15px;
  /*text-align: center;*/
  font-size: 16px;
  text-align: left;

}
.tbody{
}
.table_title{
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}
.description_table{
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
}
.tbody--relative{
  position: relative;
}
.region-map{
  transition: all .3s ease-in;
}
.region-map:nth-child(2n){
  background-color: rgba(133, 219, 157, 0.56);
}
.region-map:hover{
  background-color: #005BBC;
}

#Ukraine {
  height: 600px;
  position: relative;
}

#KyivCity {
  fill: #3184EA;
  opacity: 0;
}

.mapBackground {
  fill: #CCCCCC;
  stroke: #0000003d;
  stroke-width: 1;
  transition: all .3s ease-in;
}

#Ukraine path:hover {
  fill: #084C31;
}

.pointerCircle {
  r: 3px;
  fill: var(--blue-color);
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-weight: bold;
  font-size: 16px;
  fill: rgb(0, 0, 0);
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px;
}

#Kiev:hover ~.cityKiev,
#KyivCity:hover ~.cityKiev,
#SevastopolCity:hover ~.citySevastopol,
#Crimea:hover ~.citySimferopol,
#Cherkasy:hover ~.cityCherkasy,
#Chernivtsi:hover ~.cityChernivtsi,
#Dnipropetrovsk:hover ~.cityDnipro,
#Donetsk:hover ~.cityDonetsk,
#Ivano-Frankivsk:hover ~.cityIvano-Frankivsk,
#Ivano-Frankivsk:hover ~.region-map--visibility,
#Kharkiv:hover ~.cityKharkiv,
#Kherson:hover ~.cityKherson,
#Khmelnytskyi:hover ~.cityKhmelnytskyi,
#Kirovohrad:hover ~.cityKropyvnytskyi,
#Luhansk:hover ~.cityLuhansk,
#Lviv:hover ~.cityLviv,
#Mykolaiv:hover ~.cityMykolaiv,
#Odessa:hover ~.cityOdessa,
#Poltava:hover ~.cityPoltava,
#Rivne:hover ~.cityRivne,
#Sumu:hover ~.citySumu,
#Chernihiv:hover ~.cityChernihiv,
#Ternopil:hover ~.cityTernopil,
#Zakarpattia:hover ~.cityUzhhorod,
#Vinnytsia:hover ~.cityVinnytsia,
#Volyn:hover ~.cityLutsk,
#Zaporizhia:hover ~.cityZaporizhia,
#Zhytomyr:hover ~.cityZhytomyr{
  visibility: visible;
  opacity: 1;
}

/*publications-and-patents-wrapper*/
.publications-and-patents-wrapper{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 0 50px 0;
}
.publications-and-patents-box{
  width: calc(100% / 2);
  position: relative;
}
.publication-box{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-right: 50px;
  padding-left: 10px;
}
.publication{
  width: calc(100% / 3 - 10px);
  background-color: #C8DCD4;
  text-align: center;
}
.publication-img{
  width: 100%;
  height: 246px;
  margin-bottom: 10px;
}
.publication-text{
  padding-bottom: 13px;
  font-size: 16px;
  color: rgba(8, 76, 49);
}
.all-publication{
  position: absolute;
  top: 74px;
  right: 49px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-publication:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.patents-all{
  position: absolute;
  top: 74px;
  right: 1px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.patents-all:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.patents-box{
  display: flex;
  flex-direction: column;
}
.patents-link{
  background-color: #C8DCD4;
  margin-bottom: 10px;
  padding: 23px 30px;
  font-size: 16px;
  font-weight: 700;
  transition: all .3s ease-in;
}
.patents-link:hover{
  background-color: white;
}
/*linkmain-down*/
#main-down{
  margin-top: 50px;
  /*margin-bottom: 50px;*/
}
.main-down-wrapper{
  display: flex;
  justify-content: space-between;
}
.main-down-box{
  width: calc(100% / 3 - 30px);
  padding: 30px 50px;
}
.section-title-down{
  font-size: 26px;
  margin-bottom: 40px;
}
.main-down-wrapper{
  background-color: #C8DCD4;

}
.covv,.useful{
  border-left: 1px solid #084C31 ;
}
.main-down-list-item{
  color: var(--blue-color);
  margin-bottom: 20px;
  transition: all .3s ease-in;
}
.main-down-list-item:hover{
  scale: 1.05;
  text-decoration: underline;
}


.home-certificate-link{
  padding: 32px;

}
.home-certificate-picture{
  display: block;
  max-width: 220px;
  height: auto;
  margin: 0 auto;
}
.home-certificate-img{
  width: 100%;
  height: auto;
}