@import '../utils/variables.scss';


.mobile-menu,
#nav-check,
.precision-banner__content__img--mobile,
.fast-call__img--mobile,
.fast-call__img--last-mobile,
.sale-block__image-mobile,
.gp_header__text--mobile,
.gp_header__img--mobile{
  display: none;
}



.offers{
  display: flex;
  justify-content: space-between;
  margin: clamp(30px, -7.778px + 5.556vw, 70px) auto 0;
  @include media-to('l+', max){
    flex-wrap: wrap;
  }
}
#offers-wrapper{
  padding-top: 2px;
}
.offer-box{
  width: 100%;
  margin-bottom: clamp(20px, 1.111px + 2.778vw, 40px);

  @include media-to('s+'){
    width: calc(100% / 2 - 15px);
  }
  @include media-to('l+'){
    width: calc(100% / 4 - 15px);
  }
}
.offer-link{
  display: flex;
  align-items: center;
  padding: clamp(12px, 4.444px + 1.111vw, 20px) 7px;
  background-color: #C8DCD4FF;
  fill: #084C31;
  transition: all .3s ease-in;

}
.offer-img{
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-right: 2px solid rgba(8, 76, 49, 0.6);
  padding-right: 5px;
  margin-right: 8px;
}
.offer-link:hover{
  opacity: 1;
  box-shadow: 1px 2px 10px 3px rgba(200, 220, 212);
  scale: 1.03;
}
.offer-text{
  color: rgba(8, 76, 49);
  @include media-to('m', max){
    font-size: 14px;
  }
}


/* sale block */
.sale-block-wrapper{
  margin: 10px 0 80px;
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}
.link-btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: #0C5237;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.link-btn::before {
  background-color: #D8E8A5;
  transition: 0.3s ease-out;
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
}
.link-btn::after{
  background-color: #0C5237;
  transition: 0.3s ease-out;
  top:0; bottom: 0; left: 0;
  height: 100%; width: 5px;
}
.link-btn:hover::before {
  width: 0;
}
.link-btn__text{
  position: relative;
  display: inline-block;
  font-size: clamp(16px, 10.632px + 0.789vw, 22px);
  font-weight: 500;
  top: 0; left: 0;
  width: 100%;
  padding: clamp(8px, 0.444px + 1.111vw, 16px) clamp(12px, 0.667px + 1.667vw, 24px);
  transition: 0.3s;
  color: #0C5237;
  letter-spacing: normal;
}
.link-btn__text:hover {
  color: #fff;
  transition: 0.2s 0.1s;
}
.sale-block {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 330px;
  @include media-to('l'){
    height: 550px;
  }
}
.sale-block__image-wrapper {
  position: relative;
}

.sale-block__image {
  @include img-fit();
}

.sale-block__content {
  padding-left: clamp(24px, -10px + 5vw, 60px);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: $drk-green-color;

}
.sale-block__title,
.sale-block__title > .sale_block__text-wrap{
  font-size: clamp(30px, 15.684px + 2.105vw, 46px);
  font-weight: 500;
  margin-bottom: clamp(20px, 5.833px + 2.083vw, 35px);
}

//conf

.sale-block__content--conf{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(200, 220, 212, 0.58);
  padding: clamp(20px, 1.111px + 2.778vw, 40px);
  display: flex;
  justify-content: center;
  gap: clamp(40px, -35.556px + 11.111vw, 120px);
  @include media-to('m', 'max'){
    position: relative;
    flex-direction: column;
  }

}
.sale-block__title--conf{
  font-size: clamp(24px, 16.842px + 1.053vw, 32px);
  margin-bottom: 20px;
}
.sale-block__description-conf{
  font-size: clamp(18px, 14.421px + 0.526vw, 22px);
  margin-bottom: 40px;
}
.sale_block__text-wrap{
  display: block;
}

.wrap-btn{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-block--conf{
  height: initial;
}

.precision-banner__text{
  color: white;
  max-width: 500px;
  font-size: clamp(24px, 12.667px + 1.667vw, 36px);

}
.sale-block__description,
.sale-block__description > .sale_block__text-wrap{
  font-size: clamp(16px, 8.444px + 1.111vw, 24px);
  font-weight: 500;
  margin-bottom: clamp(20px, -17.778px + 5.556vw, 60px);

}
.sale_block__text-wrap{
  display: block;
}

/* sale block end */


.news-box{
  position: relative;
  width: 55%;
  margin-right: 30px;

  @include media-to('m', max){
    width: 100%;
  }

  @include media-to('l'){
    width: 60%;
  }
}

.news-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @include media-to('m', max){
    flex-direction: column;
  }
}
.home-certificate-link{
  padding: clamp(16px, 1.684px + 2.105vw, 32px);

}
.home-certificate-picture{
  display: block;
  max-width: 220px;
  height: auto;
  margin: 0 auto;
}
.home-certificate-img{
  width: 100%;
  height: auto;
}


/*map*/
.map-wrapper{
  text-align: center;
}
.map-title{
  font-size: clamp(24px, 12.667px + 1.667vw, 36px);
  font-weight: 700;
  margin: 50px auto;
  color: #000000;
}
.map_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(20px, 2.105px + 2.632vw, 40px);

  @include media-to('l', max){
    flex-direction: column-reverse;
  }
}
.map_table{
  max-width: 100%;
}
.table_header{
  font-weight: 900;
}
table, th, td {
  border-collapse: collapse;
  border-spacing: 1px 2px;
  padding: 2px 15px;
  font-size: clamp(14px, 12.211px + 0.263vw, 16px);
  text-align: left;

}
.tbody{
}
.table_title{
  font-size: clamp(16px, 10.632px + 0.789vw, 22px);
  font-weight: 700;
  margin-bottom: 15px;
}
.description_table{
  margin-top: 15px;
  font-size: clamp(14px, 10.421px + 0.526vw, 18px);
  font-style: italic;
}
.tbody--relative{
  position: relative;
}
.region-map{
  transition: all .3s ease-in;
}
.region-map:nth-child(2n){
  background-color: rgba(133, 219, 157, 0.56);
}
.region-map:hover{
  background-color: #005BBC;
}

#Ukraine {
  width: 100%;
  height: auto;
  position: relative;
  @include media-to('m+'){
    height: 600px;
  }
}

#KyivCity {
  fill: #3184EA;
  opacity: 0;
}

.mapBackground {
  fill: #CCCCCC;
  stroke: #0000003d;
  stroke-width: 1;
  transition: all .3s ease-in;
}

#Ukraine path:hover {
  fill: #084C31;
}

.pointerCircle {
  r: 3px;
  fill: var(--blue-color);
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-weight: bold;
  font-size: clamp(14px, 12.211px + 0.263vw, 16px);
  fill: rgb(0, 0, 0);
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px;
}

#Kiev:hover ~.cityKiev,
#KyivCity:hover ~.cityKiev,
#SevastopolCity:hover ~.citySevastopol,
#Crimea:hover ~.citySimferopol,
#Cherkasy:hover ~.cityCherkasy,
#Chernivtsi:hover ~.cityChernivtsi,
#Dnipropetrovsk:hover ~.cityDnipro,
#Donetsk:hover ~.cityDonetsk,
#Ivano-Frankivsk:hover ~.cityIvano-Frankivsk,
#Ivano-Frankivsk:hover ~.region-map--visibility,
#Kharkiv:hover ~.cityKharkiv,
#Kherson:hover ~.cityKherson,
#Khmelnytskyi:hover ~.cityKhmelnytskyi,
#Kirovohrad:hover ~.cityKropyvnytskyi,
#Luhansk:hover ~.cityLuhansk,
#Lviv:hover ~.cityLviv,
#Mykolaiv:hover ~.cityMykolaiv,
#Odessa:hover ~.cityOdessa,
#Poltava:hover ~.cityPoltava,
#Rivne:hover ~.cityRivne,
#Sumu:hover ~.citySumu,
#Chernihiv:hover ~.cityChernihiv,
#Ternopil:hover ~.cityTernopil,
#Zakarpattia:hover ~.cityUzhhorod,
#Vinnytsia:hover ~.cityVinnytsia,
#Volyn:hover ~.cityLutsk,
#Zaporizhia:hover ~.cityZaporizhia,
#Zhytomyr:hover ~.cityZhytomyr{
  visibility: visible;
  opacity: 1;
}

/*publications-and-patents-wrapper*/
.publications-and-patents-wrapper{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 0 50px 0;
}
.publications-and-patents-box{
  position: relative;
}
.publication-box{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-left: 10px;
  @include media-to('m', max){
    flex-wrap: wrap;
  }
}
.publication{
  width: calc(100% / 2 - 10px);
  background-color: #C8DCD4;
  text-align: center;

  @include media-to('m', max){
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  @include media-to('m'){
    width: calc(100% / 3 - 10px);
  }

}
.publication-img{
  @include img-fit();
}
.publication-text{
  padding-bottom: 13px;
  font-size: clamp(14px, 12.211px + 0.263vw, 16px);
  color: rgba(8, 76, 49);
}

.patents-all{
  position: absolute;
  top: 74px;
  right: 1px;
  color: var(--blue-color);
  font-size: clamp(14px, 12.211px + 0.263vw, 16px);
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.patents-all:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.patents-box{
  display: flex;
  flex-direction: column;
}
.patents-link{
  background-color: #C8DCD4;
  margin-bottom: 10px;
  padding: 23px 30px;
  font-size: clamp(14px, 12.211px + 0.263vw, 16px);
  font-weight: 700;
  transition: all .3s ease-in;
}
.patents-link:hover{
  background-color: white;
}


