//@import '../utils/variables.scss';
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
}
#main{
  position: relative;
  background-color: white;
}

.mobile-menu,
#nav-check,
.sale-block__image--mobile,
.precision-banner__content__img--mobile,
.fast-call__img--mobile,
.fast-call__img--last-mobile,
.sale-block__image-mobile,
.gp_header__text--mobile,
.gp_header__img--mobile{
  display: none;
}

.offers{
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
}
#offers-wrapper{
  padding-top: 2px;
}
.offer-box{
  width: calc(100% / 4 - 15px);
  margin-bottom: 40px;
}
.offer-link{
  display: flex;
  align-items: center;
  padding: 20px 7px;
  background-color: #C8DCD4FF;
  fill: #084C31;
  transition: all .3s ease-in;

}
.offer-img{
  width: 80px;
  min-width: 30%;
  height: 80px;
  border-right: 2px solid rgba(8, 76, 49, 0.6);
  padding-right: 5px;
  margin-right: 10px;
}
.offer-link:hover{
  opacity: 1;
  box-shadow: 1px 2px 10px 3px rgba(200, 220, 212);
  scale: 1.03;
}
.offer-text{
  color: rgba(8, 76, 49);
}


/* sale block */
.sale-block-wrapper{
  margin: 10px 0 80px;
}
:active, :hover, :focus {
  outline: 0!important;
  outline-offset: 0;
}
::before,
::after {
  position: absolute;
  content: "";
}
.link-btn {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: #0C5237;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.link-btn::before {
  background-color: #D8E8A5;
  transition: 0.3s ease-out;
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
}
.link-btn::after{
  background-color: #0C5237;
  transition: 0.3s ease-out;
  top:0; bottom: 0; left: 0;
  height: 100%; width: 5px;
}
.link-btn:hover::before {
  width: 0;
}
.link-btn__text{
  position: relative;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  top: 0; left: 0;
  width: 100%;
  padding: 16px 25px;
  transition: 0.3s;
  color: #0C5237;
  letter-spacing: normal;
}
.link-btn__text:hover {
  color: #fff;
  transition: 0.2s 0.1s;
}
.sale-block {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.sale-block__image-wrapper {
  position: relative;
}

.sale-block__image {
  width: 100%;
  height: auto;
  /*display: block;*/
}
.sale-block__content {
  padding-left: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: var(--green-dark);

}
.sale-block__title,
.sale-block__title > .sale_block__text-wrap{
  font-size: 46px;
  font-weight: 500;
  margin-bottom: 35px;
}
.precision-banner__text{
  color: white;
  max-width: 500px;
  font-size: 36px;

}
.sale-block__description,
.sale-block__description > .sale_block__text-wrap{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 60px;

}
.sale_block__text-wrap{
  display: block;
}

/* sale block end */

/*precision */
.precision-banner-wrapper{
  padding-top: 80px;
}
.precision__stages{
  margin: 80px 0 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.precision__stages__block{
  padding: 25px 30px;
  width: calc(100% / 3 - 50px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.precision__stages__block__stage,
.new-main-text{
  font-size: 18px;
}
.precision__stages__block__title{
  font-weight: 600;
  font-size: 24px;
}
.precision__stages__svg{
  margin-left: 50px;
}
.precision-banner__content{
  display: flex;
  gap: 120px;
  align-items: start;
}
.precision-banner__content__img{
  object-fit: contain;
  max-height: 500px;
}
.precision-banner__content__title,
.precision__pack__price{
  font-size: 26px;
  font-weight: 400;

}
.precision__pack__price{
  color: var(--green-dark);
  margin: 35px 0 50px;
  text-align: center;
}
.new_list-title{
  font-weight: 400;
  font-size: 22px;
  margin: 40px 0 15px;
}
.precision-banner__content__text__list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.precision-banner__content__text__list__item{
  font-size: 16px;
  opacity: .65;
  margin-left: 20px;
  list-style-type: disc;
}
.precision-banner__content__text{
  margin-bottom: 90px;
}
.sale-block__title--page{
  margin: 0;
}
.sale-block__content--page{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
}
.sale-block--page{
  margin-bottom: 90px;
}
/*pack*/
.precision__pack-wrapper{
  margin-bottom: 80px;
}
.new-main-title{
  margin-bottom: 65px;
  color: var(--green-dark);
}
.link-btn__text--pack{
  font-size: 20px;
}
.precision__pack__blocks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.precision__pack{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/3 - 50px);
  padding: 50px 25px;
  border-radius: 3px;
  border: 1px solid rgba(77, 90, 79, 0.4);
  position: relative;
  height: fit-content;
}
.precision__pack__info{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green-dark);
  color: white;
  font-size: 16px;
  padding: 8px 12px;
}
.precision-banner__content__title--pack{
  margin-bottom: 25px;
}
.info-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
.info-list__item{
  opacity: .65;
  font-size: 16px;
  font-style: italic;
}

/*modal*/
.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.overlay.open{
  opacity: 1;
  pointer-events: initial;
  z-index: 35;
}
.modal{
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
  position: fixed;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-y: hidden;
}
.modal.modal-an {
  z-index: 1;
  animation: modalAnimClose .3s linear forwards;
}

.modal.open {
  background-color: rgba(77, 88, 90, 0.66);
  z-index: 65;
  pointer-events: initial;
  animation: modalAnimOpen .3s linear forwards;
}
@keyframes modalAnimOpen {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modalAnimClose {
  0% {
    opacity: 1;
    transform: translateY(0);

  }
  100% {
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%);
  }
}
.modal-content {
  margin: 90px auto;
  padding: 40px 60px;
  width: fit-content;
  height: auto;
  position: relative;
  background: linear-gradient(#093F2A, #3F7B63);
}

.modal-close {
  position: absolute;
  right: -27px;
  top: -43px;
  font-weight: 600;
  font-size: 50px;
  color: #fff;
  transition: all .3s;
  z-index: 90;
}
.modal-close:hover,
.modal-close:focus {
  color: var(--green-dark);
  transform: rotate(-180deg);
  text-decoration: none;
  cursor: pointer;
}
.form-title{

}

.input-text,
.input-text > input::placeholder{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: all .3s ease-in-out;
}
.form__title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 30px;
}
#dropdown{
  width: 100%;
}

.scroll-hidden { overflow: hidden }
.label-wrapper{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}
.input-text > input{
  width: 100%;
  padding: 5px 15px;
  font-size: 18px;
}
.modal-btn__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.abo{
  text-transform: uppercase;
  font-size: 18px;
  color: white;
}

/*modal end*/
/* precision end*/


/*news*/

.news-box{
  position: relative;
  width: 60%;
  margin-right: 30px;
}
.all-news{
  position: absolute;
  right: 2px;
  top: 74px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-news:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.news-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.npa-wrapper{
  width: 35%;
  position: relative;
}
.all-npa{
  position: absolute;
  top: 74px;
  right: 1px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-npa:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.npa{
  /*background-color: white;*/
}
.npa-link{
  margin-bottom: 10px;
  border-left-width: 5px;
  border-left-style: solid;
  border-color: #093F2A;
  padding: 10px 15px;
  transition: all .3s ease-in;
  background-color: #C8DCD4;
}
.npa-link:hover{
  background-color: white;
}
.npa-link-title{
  font-size: 20px;
  font-weight: 700;
}
.npa-link-text{
  font-size: 16px;
  font-weight: 500;
  color: #007aff;
}
/*map*/
.map-wrapper{
  text-align: center;
}
.map-title{
  font-size: 36px;
  font-weight: 700;
  margin: 50px auto;
  color: #000000;
}
.map_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.map_table{
  max-width: 100%;
}
.table_header{
  font-weight: 900;
}
table, th, td {
  border-collapse: collapse;
  /*border: 1px solid black;*/
  border-spacing: 1px 2px;
  padding: 2px 15px;
  /*text-align: center;*/
  font-size: 16px;
  text-align: left;

}
.tbody{
}
.table_title{
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 15px;
}
.description_table{
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
}
.tbody--relative{
  position: relative;
}
.region-map{
  transition: all .3s ease-in;
}
.region-map:nth-child(2n){
  background-color: rgba(133, 219, 157, 0.56);
}
.region-map:hover{
  background-color: #005BBC;
}

#Ukraine {
  height: 600px;
  position: relative;
}

#KyivCity {
  fill: #3184EA;
  opacity: 0;
}

.mapBackground {
  fill: #CCCCCC;
  stroke: #0000003d;
  stroke-width: 1;
  transition: all .3s ease-in;
}

#Ukraine path:hover {
  fill: #084C31;
}

.pointerCircle {
  r: 3px;
  fill: var(--blue-color);
  stroke-linecap:square;
  stroke-linejoin:bevel;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-weight: bold;
  font-size: 16px;
  fill: rgb(0, 0, 0);
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px;
}

#Kiev:hover ~.cityKiev,
#KyivCity:hover ~.cityKiev,
#SevastopolCity:hover ~.citySevastopol,
#Crimea:hover ~.citySimferopol,
#Cherkasy:hover ~.cityCherkasy,
#Chernivtsi:hover ~.cityChernivtsi,
#Dnipropetrovsk:hover ~.cityDnipro,
#Donetsk:hover ~.cityDonetsk,
#Ivano-Frankivsk:hover ~.cityIvano-Frankivsk,
#Ivano-Frankivsk:hover ~.region-map--visibility,
#Kharkiv:hover ~.cityKharkiv,
#Kherson:hover ~.cityKherson,
#Khmelnytskyi:hover ~.cityKhmelnytskyi,
#Kirovohrad:hover ~.cityKropyvnytskyi,
#Luhansk:hover ~.cityLuhansk,
#Lviv:hover ~.cityLviv,
#Mykolaiv:hover ~.cityMykolaiv,
#Odessa:hover ~.cityOdessa,
#Poltava:hover ~.cityPoltava,
#Rivne:hover ~.cityRivne,
#Sumu:hover ~.citySumu,
#Chernihiv:hover ~.cityChernihiv,
#Ternopil:hover ~.cityTernopil,
#Zakarpattia:hover ~.cityUzhhorod,
#Vinnytsia:hover ~.cityVinnytsia,
#Volyn:hover ~.cityLutsk,
#Zaporizhia:hover ~.cityZaporizhia,
#Zhytomyr:hover ~.cityZhytomyr{
  visibility: visible;
  opacity: 1;
}

/*publications-and-patents-wrapper*/
.publications-and-patents-wrapper{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 0 50px 0;
}
.publications-and-patents-box{
  width: calc(100% / 2);
  position: relative;
}
.publication-box{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  margin-right: 50px;
  padding-left: 10px;
}
.publication{
  width: calc(100% / 3 - 10px);
  background-color: #C8DCD4;
  text-align: center;
}
.publication-img{
  width: 100%;
  height: 246px;
  margin-bottom: 10px;
}
.publication-text{
  padding-bottom: 13px;
  font-size: 16px;
  color: rgba(8, 76, 49);
}
.all-publication{
  position: absolute;
  top: 74px;
  right: 49px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.all-publication:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.patents-all{
  position: absolute;
  top: 74px;
  right: 1px;
  color: var(--blue-color);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
  transition: all .3s ease-in;
}
.patents-all:hover{
  border-radius: 7px;
  background-color: #C8DCD4;
  color: #084C31;
}
.patents-box{
  display: flex;
  flex-direction: column;
}
.patents-link{
  background-color: #C8DCD4;
  margin-bottom: 10px;
  padding: 23px 30px;
  font-size: 16px;
  font-weight: 700;
  transition: all .3s ease-in;
}
.patents-link:hover{
  background-color: white;
}
/*linkmain-down*/
#main-down{
  margin-top: 50px;
  /*margin-bottom: 50px;*/
}
.main-down-wrapper{
  display: flex;
  justify-content: space-between;
}
.main-down-box{
  width: calc(100% / 3 - 30px);
  padding: 30px 50px;
}
.section-title-down{
  font-size: 26px;
  margin-bottom: 40px;
}
.main-down-wrapper{
  background-color: #C8DCD4;

}
.covv,.useful{
  border-left: 1px solid #084C31 ;
}
.main-down-list-item{
  color: var(--blue-color);
  margin-bottom: 20px;
  transition: all .3s ease-in;
}
.main-down-list-item:hover{
  scale: 1.05;
  text-decoration: underline;
}

/*footer*/

/*history*/
.history{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-size: 18px;
}
.history__block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.history__block:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.history__block-text{
  max-width: 700px;
  height: initial;
}
.history__block-text>p{
  margin-bottom: 30px;
}
.history__block-text>p:last-child{
  margin-bottom: 0;
}
.history__block-img {
  position: relative;
  width: 600px;
  height: initial;
}
.history__block-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.img-description{
  font-style: italic;
  font-size: 14px;
}
/*history end*/

/*activity*/
.activity_item--text{
  position: relative;
  padding-left: 10px;
  font-size: 18px;
}
.activity_item{
  margin-bottom: 35px;
}
.activity_item:last-child{
  margin-bottom: 0;
}
.activity_item:nth-child(2n) {
  border-left: 3px solid var(--green-color);
}
.activity{
  margin-bottom: 70px;
}
.activity_list--down{
  font-size: 16px;
  font-style: italic;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 80px;
}

/*activity end*/

/* structure*/
.section__span{
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
}
.structure__wrapper{
  display: flex;
  gap: 150px;
  padding: 80px 0;
  /*flex-wrap: wrap;*/
  /*align-items: center;*/
}
.structure__text{
  line-height: 32px;
}
.structure-link{
  font-size: 32px;
  color: var(--blue-color);
  text-align: center;
}
.link__document{
  max-width: 350px;
  border: 1px solid var(--green_light-color);
  padding: 40px 60px;
  transition: all .3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  background-color: white;
}
.title__hover-link{
  position: absolute;
  transition: all .3s ease-in-out;
  opacity: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--green-color);
  padding: 15px 0;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
.link__document__wrapper{
  background-color: rgba(200, 220, 212, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.link__document:hover{
  border: 1px solid var(--green-color);
  scale: 1.03;
  background-color: var(--green_light-color);
}
.link__document:hover .title__hover-link,
.link__document__wrapper:hover {
  opacity: 1;
}
.link__document-name{
  font-weight: 600;
  /*font-size: 22px;*/
}
.main-container--structure{
  padding-bottom: 100px;
}
@media (max-width: 930px) {
  .structure__wrapper{
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .structure__wrapper{
    gap: 60px;
  }
  .link__document{
    padding: 20px;
  }
}

/* structure end*/
/* anthem*/

.anthem{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  background-color: var(--green_light-color);
  font-size: 18px;
}
.container--anthem{
  padding-bottom: 50px;
}
.logo-player{
  scale: 1.5;
  margin-bottom: 80px;
}
.anthem_left{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.anthem_left--chorus,
.anthem-author{
  font-size: 16px;
  font-style: italic;
}
.anthem-author{
  text-align: right;
}

/* anthem end*/
/*npa*/
.page-npa{
  display: flex;
  justify-content: space-between;
  gap: 85px;
}
.section-title-sup--up{
  margin-bottom: 50px;
}
.page-npa-block{
  width: 60%;
}
.details--npa {
  margin-bottom: 12px;
  border-radius: 8px;
}
.summary--npa,
.summary--procurement,
.summary--land,
.summary--photo{
  background-color: var(--green_light-color);
  color: #ebe8f0;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
  transition: all .3s ease-out;
}
.icon--npa svg {
  fill: var(--green-text);
  transition: all .3s ease-out;
  scale: 1.3;
}
.details--npa > div {
  background-color: #ebe8f0;
  padding: 1rem 2rem;
  transition: all .5s ease-out;
}
.summary--npa:hover{
  scale: 1.01;
}
.details--npa[open] .summary--npa {
  border-bottom-right-radius: unset;
  transition: all .5s ease-out;
}

.details--npa[open] > div {
  border-bottom-right-radius: 24px;
  transition: all .5s ease-out;
}

.details--npa[open] .icon--npa svg {
  transform: rotateX(180deg);
  transition: all .5s ease-out;
}
.page-npa-list{
  display: flex;
  flex-direction:  column;
  gap: 15px
}
.page-npa-list>li{
  margin-left: 15px;
  padding-left: 10px;
  list-style-type: decimal;
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 700;
}
.page-npa-list>li>a{
  font-weight: 500;
  color: var(--green-text);
  font-size: 18px;
  transition: all .3s ease-out;
}
.page-npa-list>li>a:hover{
  border-bottom: 4px solid var(--blue-color);
}
.section-title-sup--npa{
  color: var(--green-text);
}

/* npa end*/
/* land_survey*/
.section-title--land {
  padding: 30px 200px;
}
.land_survey{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tab{
  margin-left: 35px;
}
.table_block{
  width: calc(100% / 2 - 50px);
}
.text_lists{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.text_list--side > ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-style: italic;

}
.text_list--side > ul > li{
  list-style-type: square;
  margin-left: 20px;
}
.section-title-sup--up{
  margin-bottom: 50px;
}
.page-npa-block--land_survey{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-bottom: 100px;
}
.details--land_survey {
  margin-bottom: 12px;
  border-radius: 8px;
}

.icon--land svg {
  fill: var(--green-text);
  transition: all .3s ease-out;
  scale: 1.3;
}
.details--land_survey > div {
  background-color: #ebe8f0;
  padding: 1rem 2rem;
  transition: all .5s ease-out;
}
.summary--land:hover{
  scale: 1.01;
}
.details--land_survey[open] .summary--land {
  border-bottom-right-radius: unset;
  transition: all .5s ease-out;
}

.details--land_survey[open] > div {
  border-bottom-right-radius: 24px;
  transition: all .5s ease-out;
}

.details--land_survey[open] .icon--land svg {
  transform: rotateX(180deg);
  transition: all .5s ease-out;
}
.section-title-sup--land{
  color: var(--grey-text);
  font-size: 22px !important;
  margin: 10px !important;
}
.section-title-sup--land>span{
  font-size: 24px !important;

  font-weight: 800!important;
}
.map-land{
  display: block;
  margin: 0 auto;
  width: 90%;
}
/* land_survey end*/

/* monitoring*/
.chain{
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  margin-bottom: 80px;
}
.chain_text{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.graph_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;

}
.graph_box_item{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:15px;
  padding: 15px 25px;
  border-radius: 13px;
}
.graph_box_item--title{
  font-size: 28px;
  font-weight: 700;
}
.graph_box_item--number{
  font-weight: 900;
  font-size: 34px;
  color: var(--blue-color);
}
.graph_box_item--green{
  background-color: rgba(0, 128, 0, 0.49);
}
.graph_box_item--orange{
  background-color: orange;
}
.graph_box_item--yellow{
  background-color: yellow;
}
.graph_box--sum{
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: var(--green_light-color);
  border-radius: 12px;
}
/* new block*/
.chain-map{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
}
.chain-map_up{
  display: flex;
  gap: 40px;
  align-items: center;
}
.chain-map_up--plate{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(75, 75, 75, 0.47);
  font-weight: 700;
  padding: 25px 25px;
  border-radius: 13px;
}
.chain-map_up--plate--num{
  color: var(--blue-color);
  font-weight: 900;
  font-size: 42px;
}
.chain-map_up--text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* monitoring end*/
/* edition*/
.container-card {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-bottom: 250px;
}
.slide {
  display: flex;
  gap: 35px;
  height: 650px;
  border-radius: 20px;
  color: black;
  flex: 2;
  transition: all 500ms ease-in-out;
}
.slide.active {
  flex: 10;
  width: 100%;
}
.slide .img--edition{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in 0.2s;
}
.slide li {
  font-size: 18px;
  opacity: 0;
  display:none;
  cursor: pointer;
  transition: all 0.3s ease-in 0.4s;
  margin-bottom: 5px;
}
.slide a{
  transition: all .3s ease-in-out;
}
.slide a:hover{
  border-bottom: 1px solid var(--green-dark);
}

.img--edition:hover{
  scale: 1.05;
}
.slide.active li{
  display: block;
  opacity: 1;
  transition: all 0.3s ease-in 0.4s;
}
.slide.active .img--edition{
  width: 50%;
}
.slide_list li{
  list-style-type: decimal;
  margin-left: 10px;
  color: var(--blue-color);
  font-weight: 700;
}
.slide_list a{
  color: #4B4B4B;
  transition: all 0.3s ease-in 0.25s;
}
.slide_list li:hover{
  background-color: 3px solid var(--blue-color);
}
.slide_list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*instruction*/

.instructions{
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding-bottom: 80px;
  width: 100%;
}
.instructions-block{
  width: calc(100% / 4 - 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instructions-block .img--edition {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}
.instructions-block .img--edition:hover{
  scale: 1;
}

.instructions-block > a{
  text-align: center;
  font-weight: 700;
  color: #4B4B4B;
  transition: all 0.3s ease-in;

}
.instructions-block > a:hover{
  scale: 1.05;
}

/* edition*/
/* procurement*/
.main-container--procurement{
  padding-bottom: 100px;
}
.page-npa-block--procurement{
  width: 100%;
}
.details--procurement {
  margin-bottom: 12px;
  border-radius: 8px;
}

.icon--procurement svg {
  fill: var(--green-text);
  transition: all .3s ease-out;
  scale: 1.3;
}
.details--procurement > div {
  background-color: #fafafa;
  padding: 1rem 2rem;
  transition: all .5s ease-out;
}
.summary--procurement:hover{
  scale: 1.01;
}
.details--procurement[open] .summary--procurement {
  border-bottom-right-radius: unset;
  transition: all .5s ease-out;
}

.details--procurement[open] > div {
  border-bottom-right-radius: 24px;
  transition: all .5s ease-out;
}

.details--procurement[open] .icon--procurement svg {
  transform: rotateX(180deg);
  transition: all .5s ease-out;
}
.page-npa-list{
  display: flex;
  flex-direction: column-reverse;
  gap: 15px
}
.page-npa-list>li{
  margin-left: 15px;
  padding-left: 10px;
  list-style-type: decimal;
  color: var(--blue-color);
  font-size: 20px;
  font-weight: 700;
}
.page-npa-list>li>a{
  font-weight: 500;
  color: var(--green-text);
  font-size: 18px;
  transition: all .3s ease-out;
}
.page-npa-list>li>a:hover{
  border-bottom: 4px solid var(--blue-color);
}
.section-title-sup--npa{
  color: var(--green-text);
}
/* procurement*/
/* international_activity*/

.international{
  display: flex;
  flex-direction: column;
  gap: 80px
}
.section-title-sup{
  margin-bottom: 40px;
}
.international_text--block{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.international_text--block span{
  font-size: 24px;
  font-weight: 900;
  margin-right: 20px;
}
.international_text_list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* international_activity end*/
/* photo gallery*/
.photo_gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*gap: 50px;*/
}
.photo_gallery_box {
  position: relative;
  width: calc(100% / 2 - 40px);
  height: initial;
  padding-bottom: 60px;
}
.photo_gallery_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.icon--photo svg {
  scale: 2.5;
  padding-right: 20px;
}
.section-title-sup--npa {
  margin-left: 50px;
}
.details--photo{
  margin-bottom: 12px;
  border-radius: 8px;
}

.icon--photo svg {
  fill: var(--green-text);
  transition: all .3s ease-out;
  scale: 1.3;
}
.details--photo> div {
  background-color: #ebe8f0;
  padding: 1rem 2rem;
  transition: all .5s ease-out;
}
.summary--photo:hover{
  scale: 1.01;
}
.details--photo[open] .summary--photo {
  border-bottom-right-radius: unset;
  transition: all .5s ease-out;
}

.details--photo[open] > div {
  border-bottom-right-radius: 24px;
  transition: all .5s ease-out;
}

.details--photo[open] .icon--photo svg {
  transform: rotateX(180deg);
  transition: all .5s ease-out;
}
.page-npa-block--photo_gallery{
  width: 100%;
}

/* photo gallery end*/
/* branches*/

.container--branches{
  padding-bottom: 50px;
}

.text_branches{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text_branches p::first-letter{
  margin-left: 35px;
}
.text_branches>p{
  font-size: 22px;
}
.text_branches>p>a{
  color: var(--blue-color);
  font-weight: 700;
}
.text_branches > ul {
  display: flex;
  flex-direction: column;
  font-style: italic;
  gap: 15px;
}
.section-title-sup{
  margin-top: 80px;
  font-size: 36px;
}
.branches__new{
  border-radius: 5px;
  color: var(--green-dark);
}
/* branches end*/

/*contacts*/
.container--contacts{
  padding-bottom: 80px;
}
.p-contact{
  margin-bottom: 20px;
}
.p-contact>span{
  font-weight: 700;
  margin-right: 20px;
}
.p-contact>a{
  color: var(--blue-color);
}
/* contacts end*/

/*our*/
.section-title--out{
  padding-top: 120px;
}
.wrapper_links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
.wrapper_links > a{
  text-align: center;
  background-color: var(--green_light-color);
  padding: 40px 0;
  height: 100%;
  width: calc(100% / 2 - 50px);
  transition: all .3s ease-in;
  font-weight: 700;
  font-size: 26px;
}
.wrapper_links--branches>a{
  width: calc(100% / 5 - 35px);
}
.wrapper_links > a:hover {
  opacity: 1;
  box-shadow: 1px 2px 10px 3px var(--blue-color);
  scale: 1.03;
}

@media (max-width: 790px) {
  .wrapper_links > a {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .wrapper_links > a {
    font-size: 22px;
  }
}
/* our end*/
/* policy*/
.section-title-sup--policy{
  margin: 20px 0;
}
.policy__text,
.policy__list>li{
  font-size: 16px;
  margin-bottom: 10px;
}
.policy__link{
  color: var(--green-dark);
  transition: all .3s ease-in-out;
}
.policy__link:hover{
  color: var(--blue-color);
}
/* policy end*/
/*2024*/
.magazine_down_line{
  text-decoration: underline;
}

/*media*/

@media (max-width: 1500px) {
  .main-container{
    max-width: 97%;
  }
  .description {
    left: 60px;
    bottom: 11%;
    width: 48%;
  }
  .full-screen {
    width: 55%;
    margin-left: 508px;
  }
}
@media (max-width: 1450px) {

  .slide_list {
    gap: 5px;
  }
}
@media (max-width: 1400px) {
  .offer-text {
    font-size: 16px;
  }
  .history__block-text {
    max-width: 550px;
  }
}
@media (max-width: 1300px) {
  .chain-map_down--img{
    display: none;
  }
}
@media (max-width: 1200px) {
  .main-title{
    font-size: 36px;
  }
  .header-title {
    font-size: 24px;

  }
  .line-number {
    font-size: 16px;
  }
  .ticker-p{
    font-size: 16px;
  }

  .line-text {
    font-size: 14px;
  }
  .nav-wrapper a{
    font-size: 16px;
  }
  .main-down-box {
    padding: 15px 25px;
  }
  .section-title-down {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .main-down-list-item {
    margin-bottom: 15px;
  }
  .main-down-list-item > a{
    font-size: 16px;
  }
  li:hover ul.nav-list {
    top: 44px;
  }
  .history__block,
  .history__block:nth-child(2n){
    flex-direction: column;
  }
  .history__block-text {
    max-width: 100%;
  }
  .lightbox{
    display: none;
  }
  .main-title {
    margin: 0;
    font-size: 36px;
  }
  .section-title-sup {
    margin: 20px 0;
    font-size: 32px;
  }
  .instructions-block {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 1150px) {
  .section-title--land{
    margin: 0;
  }
  .table_block {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .graph_box_item {
    width: calc(100% / 2 - 60px);

  }
  .graph_box{
    justify-content: center;
  }
  .graph{
    width: 100%;
  }
  .graph>img{
    width: 100%;
  }
  .precision-banner__text {
    font-size: 30px;
  }
  .precision__stages__block__stage, .new-main-text {
    font-size: 16px;
  }
  .precision__stages__block__title {
    font-size: 22px;
  }
  .sale-block__title, .sale-block__title > .sale_block__text-wrap {
    font-size: 32px;
  }
  .precision-banner__content__title, .precision__pack__price {
    font-size: 22px;
    font-weight: 400;
  }
  .link-btn__text {
    font-size: 18px;
    padding: 10px 15px;
  }
  .new_list-title {
    font-size: 20px;
  }
  .link-btn__text--pack {
    font-size: 18px;
    text-align: center;
  }
  .precision__pack__info {
    font-size: 14px;
    padding: 6px 10px;
  }
  .precision-banner__content__text__list__item {
    font-size: 15px;
  }
  .precision__pack__price {
    color: var(--green-dark);
    margin: 25px 0 35px;
    text-align: center;
  }
  .info-list__item {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .logo-player {
    scale: 1.2;
    margin-bottom: 80px;
  }
}
@media (max-width: 1000px){

  .offer-box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 40px;
  }
  .offers{
    flex-wrap: wrap;
  }
  .news-wrapper{
    flex-direction: column;
  }
  .news-box{
    width: 100%;
    margin: 0 0 30px 0
  }
  .offers {
    margin-bottom: 25px;
  }
  .npa-wrapper{
    width: 100%;
  }
  .npa {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }
  .npa-link{
    width: calc(100% /2 - 25px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .map_box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news-wrapper {
    margin-bottom: 30px;
  }

  .footer-right {
    margin-bottom: 20px;
  }
  .footer-right-last{
    margin: 0;
  }
  .footer-right>p>a{
    font-size: 14px;
  }
  .publications-and-patents-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .publications-and-patents-box {
    width: 100%;
    position: relative;
  }
  .leaders>a {
    width: calc(100% / 2 - 100px);
  }
  .leaders {
    width: 100%;
    gap: 150px 80px;
    margin-bottom: 100px;
    justify-content: center;
  }
  .section-title--structure {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 930px) {
  .leaders>a {
    width: calc(100% / 2 - 80px);
  }
  .leaders {
    width: 100%;
    gap: 200px 60px;
    margin-bottom: 100px;
    justify-content: center;
  }
  .graph_box{
    gap: 70px;
  }
  .sale-block__content {
    padding-left: 35px;
  }
  .precision__stages__block {
    width: calc(100% / 2 - 50px);
  }
  .precision__stages {
    justify-content: center;
  }
  .precision-banner__content__img {
    width: 25%;
  }
  .precision-banner__content {
    gap: 70px;
  }
  .precision__pack {
    width: calc(100% / 2 - 50px);
  }
}
@media (max-width: 902px) {
  .container-card {
    flex-direction: column;
  }
  .slide .img--edition {
    width: 64%;
  }
  .instructions {
    flex-wrap: wrap;
    justify-content: center;
  }
  .instructions-block {
    width: calc(100% / 2 - 20px);
  }
  .form__title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .input-text > input {
    width: 100%;
    padding: 3px 10px;
    font-size: 16px;
  }
  .modal-close {
    right: 10px;
    top: -2px;
    font-size: 36px;
  }
  .link-btn__text--pack {
    font-size: 16px;
    text-align: center;
  }
  .abo {
    font-size: 14px;
  }
}
@media (max-width: 900px){
  .line-number,
  .line-text,
  .logo-text,
  .vision
  {
    display: none;
  }
  .header-title {
    font-size: 20px;
  }
  .header-up {
    justify-content: flex-start;
    margin-top: 30px;
  }
  .header-center{
    position: relative;
  }
  .header-title-box {
    margin: 0;
    position: absolute;
    top: -100px;
    right: -4px;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  .nav{
    justify-content: space-between;
    margin-top: 50px;
    column-gap: 30px;
  }
  .emblem {
    width: 30px;
    height: 40px;
  }
  .flag {
    width: 50px;
    height: 30px;
  }
  .ticker{
    padding: 5px 0;
  }
  body{
    overflow-x: hidden;
  }
  li:hover ul.nav-list {
    top: 43px;
  }
  .publications-and-patents-box {
    width: 100%;
  }
  .publication-text {
    font-size: 12px;
  }
  .history__block {
    gap: 40px;
  }
  .history {
    gap: 40px;
  }
  .section-title-sup--npa {
    color: var(--green-text);
  }
  .section-title-sup {
    margin: 5px;
  }
  .section-title--land{
    padding: 30px 30px;
  }
  .land_survey {
    gap: 50px;
  }
  .table {
    gap: 10px;
  }
  .section-title-sup--up {
    margin: 20px 0;
  }
  .section-title-sup {
    margin: 20px 0;
  }
  .details--land_survey > div {
    padding: 1rem 0;
  }
}
@media (max-width: 850px){
  .container{
    padding: 0 15px;
  }
  .page-npa {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .page-npa-block {
    width: 100%;
  }
  .sale-block__description--not-mobile{
    display: none;
  }
}
@media (max-width: 768px) {
  .history__block-img {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .logo-player {
    scale: 1;
    margin-bottom: 80px;
  }
  .anthem {
    gap: 50px;
    flex-direction: column-reverse;
  }
  .section-title-sup {
    font-size: 26px;
    margin-bottom: 25px;
  }
  .section-title-sup {
    margin-top: 30px;
  }
}
@media (max-width: 710px) {
  .leaders>a {
    width: calc(100% / 2 - 30px);
  }
  .leaders {
    gap: 200px 35px;
  }
  .sale-block__image--mobile,
  .fast-call__img--mobile,
  .precision-banner__content__img--mobile{
    display: block;
  }
  .sale-block__image--not-mobile,
  .not-mobile{
    display: none;
  }
  .precision-banner__content__img {
    width: 80%;
    margin: 40px auto;
  }
  .sale-block__content {
    left: 0;
    top: 100px;
  }
  .sale-block__title, .sale-block__title > .sale_block__text-wrap {
    font-size: 28px;
  }
  .precision__stages__block {
    width: 90%;
  }
  .precision__pack {
    width: 80%;
    margin: 0 auto;
  }
  .precision__pack__blocks {
    gap: 70px;
  }
  .precision__stages__svg {
    margin-left: 60%;
    margin-top: -70px;
  }
  .precision__stages {
    gap: 70px;
  }

}
@media (max-width: 700px) {
  .main-down-box {
    padding: 10px 10px;
  }
  .map-wrapper{
    gap: 5px;
  }
  #Ukraine {
    height: 450px;
  }
  .npa-link-title {
    font-size: 18px;
  }
  .npa-link-text {
    font-size: 14px;
  }
  .section-title--structure {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 670px) {
  .graph{
    display: none;
  }
  .modal-content {
    margin: 60px auto;
    padding: 20px 40px;
  }
}
@media (max-width: 600px) {
  .nav{
    flex-wrap: wrap;
    column-gap: 0;
    gap: 10px;
  }
  .nav-item{
    width: calc(100% / 3 - 30px);
  }
  .nav-wrapper a {
    text-align: center;
  }
  .nav-list-link {
    padding: 5px;
  }
  .npa-link{
    width: 100%;
  }
  .main-title {
    margin: 0;
    font-size: 32px;
  }
  .section-title-sup {
    margin: 5px 0;
    font-size: 24px;
  }
}
@media (max-width: 606px) {
  .main-title {
    margin-bottom: 0;
  }
  .instructions-block .img--edition {
    height: 320px;
  }
  .slide.active {
    flex-direction: column;
  }
}
@media (max-width: 585px) {
  .leaders>a {
    width: calc(100% - 180px);
  }

}
@media (max-width: 550px){
  .header-svg,
  .header-title-box>svg{
    display: none;
  }
  .header-title-box {
    position: relative;
    top: 0;
    margin-top: 15px;
  }

  .logo {
    margin: 0;
  }
  .header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    margin: 30px auto;
  }
  .nav-wrapper a {
    font-size: 14px;
  }
  li:hover ul.nav-list {
    top: 41px;
  }
  .offer-box {
    width: 100%;
  }
  .main-down-wrapper {
    justify-content: space-around;
  }
  .section-title--land{
    font-size: 28px;
    padding: 30px 10px;
  }
  .modal-btn__wrapper {
    gap: 25px;
    flex-direction: column;
  }
  .sale-block__image-mobile{
    display: block;
  }
  .sale-block__image--not-mobile{
    display: none;
  }
  .sale-block-wrapper  .sale-block__content{
    top: 50%;
  }
}
@media (max-width: 545px) {
  .chain-map_up {
    gap: 40px;
    flex-direction: column;
  }
  .graph_box_item {
    width: 100%;
  }
  .precision__stages__svg {
    margin-left: 0;
    margin-top: 0;
  }
  .sale-block__content--page {
    width: 100%;
    padding: 0 60px;
    top: 50%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .fast-call__img--mobile{
    display: none;
  }
  .fast-call__img--last-mobile{
    display: block;
  }
}
@media (max-width: 530px) {
  .leaders>a {
    width: calc(100% - 50px);
  }

}
@media (max-width: 525px) {
  .section-title--structure {
    padding: 0;
    font-size: 32px;
  }
}
@media (max-width: 480px) {

  .slide_list {
    gap: 10px;
  }
  .instructions-block {
    width: calc(100%  - 150px);
  }

}
@media (max-width: 450px) {
  .npa-link{
    width: 100%;
  }
  .header-title {
    font-size: 18px;
  }

  .section-title-down {
    font-size: 14px;
    margin-bottom: 15px;
  }
  #main-down{
    display: none;
  }
  #Ukraine {
    height: 320px;
  }
}
@media (max-width: 420px) {
  .sale-block-wrapper {
    margin: 70px 0 80px;
  }
  .all-news {
    position: absolute;
    right: 2px;
    top: 115px;
    color: var(--blue-color);
    font-size: 14px;
    font-weight: 700;
    padding: 3px 7px;
    transition: all .3s ease-in;
  }
  /*#offers-wrapper {*/
  /*    display: none;*/
  /*}*/
  #news{
    padding-top: 75px;
  }
  #Ukraine {
    height: 250px;
  }
}
@media (max-width: 400px) {

  .instructions-block {
    width: calc(100%  - 70px);
  }

}

.home-certificate-link{
  padding: 32px;

}
.home-certificate-picture{
  display: block;
  max-width: 220px;
  height: auto;
  margin: 0 auto;
}
.home-certificate-img{
  width: 100%;
  height: auto;
}